*
!.gitignore

!beamerthemeD3S.sty

!CUNI.png
!D3S.png
!D3SWM.png
!Head.png
!Item.png
!SubItem.png
!SubSubItem.png



!Makefile

!slides.latex
!slides.mp

!language.pred

!alias.pred
!alias1.java
!alias2.java
!alias3.java

!branching.java

!method1.java
!method1.pred
!method2.java
!method2.pred
